body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}
.video-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    width: 50%;  /* Setting the video container to half the width of the overall container*/
    height: 100%;

}
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: contain;  /*This fits the video inside the container as big as it can be without overflowing*/

}
.invisible-border {
    width: 2px; 
    background-color: transparent;
    height: 100%;
}