body, html {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/b1\ copy\ 2.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; 
    z-index: -1; 
}



h1 {
    position: relative;
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 130px; 
    top:50px;
}

.flip-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin: 20px auto;
    padding: 0 10px;
}

.flip-card {
    background-color: #f5deb354;
    width: calc(25% - 20px); 
    height: 300px; 
    margin: 10px 0; 
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

#btn {
    height: 90vh;
    width: 10vh;
    top: 90vh;
    left:8vh;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    cursor: pointer;
    padding-top: 5px;
  }
  
  #btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  #btn:hover {
    background: transparent;
  }
  
  #btn:hover #circle {
    height: 5vh;
    width: 9vh;
    top: 0;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #e22626;
  }



  @media (max-width: 768px) {
    .flip-card {
        width: calc(100% - 40px); 
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .flip-card {
        width: calc(50% - 40px);
    }
  }

  @media (max-width: 600px) {
    #btn {
        height: 60vh; 
        width: 15vh; 
        top: 200vh; 
        left: 5vh; 
        font-size: 16px; 
    }
  }
  @media (min-width: 601px) and (max-width: 1024px) {
    #btn {
        height: 80vh; 
        width: 8vh; 
        top: 85vh; 
        left: 7vh; 
        font-size: 18px; 
    }
  
  }